<h1>My tasks</h1>
<% @tasks.each do |task| %>
  <h4><span><%= task.completed ? (fa_icon "check-square") : (fa_icon "square") %></span>
    <span> <%= link_to "Task", tasks_path %><%= task.title %></span></></h4>
<% end %>
