<div class="container">
<h1>My tasks</h1>
<% @tasks.each do |task| %>
  <h4><span><%= task.completed ? (fa_icon "check-square") : (fa_icon "square") %></span>
    <span> <%= link_to task.title, task_path(task), method: :get %></span></></h4>
    <span class="delete-task"><%= link_to "Delete task", task_path(task), method: :delete %></span>
<% end %>
</div>
