// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin flexFeats {
  display: flex;
  justify-content: center;
  align-items: center;
}
